<div class="p-4 border-b">
  <p class="text-gray-800"><%= comment.content %></p>
  <p class="text-sm text-gray-500">By <%= comment.author.email %> at <%= comment.created_at.strftime("%d %b %Y, %I:%M %p") %></p>
</div>
