<div class="container mc-auto px-6 py-12 mt-20">
  <h1 class="font-bold">Project</h1>

  <%#= link_to "New Project", new_project_path, class: "my-4 px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-700 inline-block" %>

  <table class="min-w-full border-collapse border border-gray-300 overflow-x-auto bg-white shadow-md rounded-lg">
    <thead>
      <tr class="bg-gray-100"></tr>
        <th class="border border-gray-300 px-6 py-3 text-left text-gray-700">Name</th>
        <th class="border border-gray-300 px-6 py-3 text-left text-gray-700">Description</th>
        <th class="border border-gray-300 px-6 py-3 text-left text-gray-700">Code</th>
        <th class="border border-gray-300 px-6 py-3 text-left text-gray-700">Actions</th>
      </tr>
    </thead>
    <tbody id="projects-list">
      <% @project.each do |project| %>
        <%= render partial: "projects/project", formats: :html, locals: { project: project } %>
      <% end %>
    </tbody>
  </table>
</div>
